body {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#first-section {
    border: 1px white solid;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#title{
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px white solid;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#image {
    border: 1px white solid;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#button{
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}